<div class="container">
  <h2>My cart</h2>
  <div class="noItem" *ngIf="(total$ | async) == 0 as total">Empty Cart</div>
  <div class="products-container" *ngIf="(total$ | async) !== 0">
    <div class="product" *ngFor="let product of products$ | async as prod">
      <h4>{{product.product.name}}</h4>
      <div class="amount">
        <button mat-mini-fab (click)="increase(product.product.id)"> <mat-icon>add</mat-icon></button>
        <input mat-input class="input-amount" [value]="product.amount" #amount>
        <button mat-mini-fab (click)="decrease(product.product.id)"> <mat-icon>remove</mat-icon></button>
      </div>
      <div class="price">{{(product.price * +amount.value) | currency}}</div>
    </div>
  </div>
  <div class="total-container">
    <div class="subtitle">Total:</div>
    <div class="total-price" [innerText]="total$ | async | currency"></div>
  </div>
</div>