<h2>My cart</h2>
<div class="products-container" *ngIf="products$ | async as prod">
  <div class="product" *ngFor="let product of prod">
    <h4>{{product.product.name}}</h4>
    <div class="amount">
      <button mat-mini-fab (click)="increase(product.product.id)">+</button>
      <input mat-input class="input-amount" [value]="product.amount" #amount>
      <button mat-mini-fab (click)="decrease(product.product.id)">-</button>
    </div>
    <div class="price">{{(product.price * +amount.value) | currency}}</div>
  </div>
</div>
<div class="total-container">
  <div class="subtitle">Total:</div>
  <div class="total-price" [innerText]="total$ | async | currency"></div>
</div>