<h2 class="title">Products</h2>

<button mat-fab color="primary" class="floating" (click)="drawer.toggle()"><mat-icon>group_work</mat-icon></button>

<mat-drawer-container autosize>
  
  <mat-drawer #drawer mode="side">    

    <div class="search-container">
      <h3>Search</h3>
      <mat-form-field appearance="fill">
        <mat-label>Search by name</mat-label>
        <input matInput #input (keyup)="filterByName(input.value)">
      </mat-form-field>
      <!-- <button mat-raised-button color="accent" (click)="filterByName(input.value)">Search</button> -->
    </div>    

    <div class="categories-container" *ngIf="categories">
      <h3>Categories</h3>
      <div class="category" (click)="filter(category.slug)" *ngFor="let category of categories">{{category.name}}</div>
    </div>
  
  </mat-drawer>

  <div class="products-container">
    <div class="product-container" *ngFor="let prod of (products | async)">
      <mat-card>
        <mat-card-header>
          <mat-card-title> <a [routerLink]="prod.slug"> {{prod.name}}</a></mat-card-title>
          <mat-card-subtitle>{{prod.description}}</mat-card-subtitle>
          <img src="../../../assets/image-not-found.png" alt="">
          <mat-card-actions>    
            <button mat-mini-fab color="accent" (click)="like(prod.id)"> <mat-icon>thumb_up</mat-icon></button>
            <button mat-mini-fab color="accent" (click)="dislike(prod.id)"> <mat-icon>thumb_down</mat-icon></button>
            <button mat-raised-button color="accent"> {{prod.likes_count}} <mat-icon>favorite</mat-icon></button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="buy(prod)" (click)="openSnackBar(prod)"><mat-icon>add_shopping_cart</mat-icon></button>
          </mat-card-actions>
        </mat-card-header>
      </mat-card>
      
    </div>
  </div>

</mat-drawer-container>

