h2 {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 30px;
}

.floating {
  position: absolute;
  top: 75px;
  left: 20px;
  display: inline;
}

.mat-drawer-container {
  min-height: 85vh;

  .categories-container, .search-container {
    padding: 0;
    margin: 30px 5px;

    h3 {
      font-size: 1.1rem;
      margin: 10px;
    }
    .category {
      margin: 5px;
      padding: 5px;
    }
    .category:hover {
      background-color: orange;
    }

    .mat-form-field {
      .mat-form-field-wrapper {
        padding: 0;
      }
    }
    
    .mat-raised-button {
      display: block;
    }
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 30px;
  padding: 20px;

  .product-container {
    max-width: 300px;
    max-height: 473px;
    transition: 0.25s;

    mat-card {
      max-width: 300px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
      mat-card-header {
        display: flex;
        flex-direction: column;
        justify-items: center;
      }
    
      mat-card-subtitle {
        font-size: 1.1rem;
      }
    
      mat-card-actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-top: 15px;
      }
    }
  }
}

.snack-light {
  text-align: center;
  background: orange;
  color: rgb(88, 88, 88);
  span {
    text-align: center;
  }
}
