/* You can add global styles to this file, and also import other style files */
$primary-color: #673ab7;
$accent-color: #ffd740;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: fit-content; }

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-raised-button:hover,
.mat-mini-fab:hover {
  scale: 1.05;
}

.snack-light {
  text-align: center;
  background: rgba(199, 135, 18, 0.966);
  color: rgb(63, 63, 63);
  span {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.mat-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
